<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i>Состояние счетов
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div id="bill-control" class="list-group">


        </div>
    </div>
    <!-- /.panel-body -->
</div> <!-- panel -->