<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Контроль расходов
    </div>
    <div id="control-control" class="panel-body">
        <p class="list-group-item">
            <span class="glyphicon glyphicon-triangle-right small">Сегодня</span>
            <em<span id="today" class="pull-right text-muted small"></span></em>
        </p>
        <p class="list-group-item">
            <span class="glyphicon glyphicon-triangle-right small">Вчера</span>
            <em<span id="yesterday" class="pull-right text-muted small"></span></em>
        </p>
        <p class="list-group-item">
            <span class="glyphicon glyphicon-triangle-right small">Текущая неделя</span>
            <em<span id="current_week" class="pull-right text-muted small"></span></em>
        </p>
        <p class="list-group-item">
            <span class="glyphicon glyphicon-triangle-right small">Прошлая неделя</span>
            <em<span id="last_week" class="pull-right text-muted small"></span></em>
        </p>
        <p class="list-group-item">
        <span class="glyphicon glyphicon-triangle-right small">Текущий месяц</span>
        <em<span id="current_month" class="pull-right text-muted small"></span></em>
        </p>
        <p class="list-group-item">
            <span class="glyphicon glyphicon-triangle-right small">Прошлый месяц</span>
            <em<span id="last_month" class="pull-right text-muted small"></span></em>
        </p>


    </div>
    <!-- /.panel-body -->
</div> <!-- panel -->