<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i>Журнал операций
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#journal-menu1">Расход</a></li>
            <li><a data-toggle="tab" href="#journal-menu2">Доход</a></li>
        </ul>
        <div class="tab-content">
            <div id="journal-menu1" class="tab-pane fade in active">
                <h3>Журнал расхода</h3>
                <table id="journal-spending" class="table table-striped">
                    <thead>

                        <tr>
                            <th>Категория</th>
                            <th>Сумма</th>
                            <th>Счет</th>
                            <th>Дата</th>
                        </tr>

                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div id="journal-menu2" class="tab-pane fade">
                <h3>Журнал дохода</h3>
                <table id="journal-earning" class="table table-striped">
                    <thead>

                    <tr>
                        <th>Категория</th>
                        <th>Сумма</th>
                        <th>Счет</th>
                        <th>Дата</th>
                    </tr>

                    </thead>
                    <tbody>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <!-- /.panel-body -->
</div>