<!-- header logo: style can be found in header.less -->
<header class="header">
    <a href="/" class="logo">
        Finansez
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-public navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->

        <div class="navbar-center">
            <ul class="nav navbar-nav navbar-nav-center">

                <li class="dropdown user user-menu">
                    <a href="/login" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        <span>Войти в систему </span>
                    </a>

                </li>

                <li class="dropdown user user-menu">
                    <a href="/demo-login" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user-times"></i>
                        <span>Демо вход </span>
                    </a>

                </li>

                <li class="dropdown user user-menu">
                    <a href="/register" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user-plus"></i>
                        <span>Зарегистрироваться</span>
                    </a>

                </li>

            </ul>
        </div>
    </nav>
</header>
<div class="wrapper row-offcanvas row-offcanvas-left" resizewrapper>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side left-side-public sidebar-offcanvas">
        <section class="sidebar">
            <!-- Sidebar user panel -->

            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="active">
                    <a href="/">
                        <i class="fa fa-dashboard"></i> <span>Главная</span>
                    </a>
                </li>

                <li>
                    <a href="/demo-login">
                        <i class="fa fa-gavel"></i> <span>Демо вход</span>
                    </a>
                </li>

                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.ionicframework.finansezmobile477353">
                        <i class="fa fa-mobile-phone"></i> <span>Мобильные приложения</span>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="right-side right-side-public">

        <section class="content" data-ui-view>

        </section>
    </div>
    <div class="footer-main">
        &copy Finansez, 2016
    </div>
</div>
<!-- ./wrapper -->



