<div class="row">
    <div class="col-md-12">
        <!--notification start-->
        <section class="panel">
            <div class="panel-body">
                <div class="site-description">
                    Finansez - лучший способ учета и планирования личных финансов.
                </div>
            </div>
        </section>
        <!--notification end-->
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <!--progress bar start-->
        <section class="panel">
            <header class="panel-heading">
                Контроль
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-success">
                            <strong>
                                Объедините все ваши финансы в одном месте.
                            </strong>
                            <br/>И ведите общий учет наличных, банковских карт, вкладов.
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                Попробуйте перед регистрацией
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info">
                            <strong>
                                Не тратьте время на регистрацию - попробуйте <a href="#"><span
                                    style="font-size: 16px">демо режим</span></a>!
                            </strong>
                            <br/>И зарегистрируйтесь, если сервис вам понравится.
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <!--progress bar start-->
        <section class="panel">
            <header class="panel-heading">
                Мобильные приложения
            </header>
            <div class="panel-body panel-body-index">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-success">
                            <strong>
                                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.ionicframework.finansezmobile477353">Скачайте мобильное приложение для Android</a>
                            </strong>
                            <br/>И получите возможность контроллировать финансы в любом месте!
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--progress bar end-->

    </div>
    <div class="col-lg-6" style="">
        <section class="panel">
            <header class="panel-heading">
                Полностью бесплатный проект
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-warning">
                            <strong>
                                Проект не преследует коммерческих интересов.
                            </strong>
                            <br/><a href="/"><span style="font-size: 16px">Finansez.com</span></a> - это
                            проект с <a target="_blank" href="https://github.com/uglovvic/finanasez">открытым исходным кодом</a>.
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>