<section class="panel">
    <header class="panel-heading">
        Регистрация на сайте
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <form ng-submit="register()" name="registration_form" id="registration_form" method="post" role="form">

                    <div ng-class="{ 'has-success': !error['username'] && registerSubmitted,
                        'has-error': error['username'] && registerSubmitted }"
                         class="form-group required">
                        <label class="control-label" for="registration-form-username">Имя пользователя</label>
                        <input ng-model="userModel.username" type="text" id="registration-form-username"
                               class="form-control" placeholder="Имя пользователя" autofocus>

                        <p class="help-block help-block-error">{{ error['username'] }}</p>
                    </div>

                    <div ng-class="{ 'has-success': !error['email'] && registerSubmitted,
                        'has-error': error['email'] && registerSubmitted }"
                         class="form-group required">
                        <label class="control-label" for="registration-form-email">E-mail</label>
                        <input ng-model="userModel.email" type="email" id="registration-form-email"
                               class="form-control" placeholder="Email">

                        <p class="help-block help-block-error">{{ error['email'] }}</p>
                    </div>

                    <div ng-class="{ 'has-success': !error['password'] && registerSubmitted,
                        'has-error': error['password'] && registerSubmitted }"
                         class="form-group required">
                        <label class="control-label" for="registration-form-password">Пароль</label>
                        <input ng-model="userModel.password" type="password" id="registration-form-password"
                               class="form-control" placeholder="Пароль">

                        <p class="help-block help-block-error">{{ error['password'] }}</p>
                    </div>

                    <div ng-class="{ 'has-success': !error['password_confirm'] && registerSubmitted,
                        'has-error': error['password_confirm'] && registerSubmitted }"
                         class="form-group required">
                        <label class="control-label" for="registration-form-password_confirm">Подтверждение
                            пароля</label>
                        <input ng-model="userModel.password_confirm" type="password"
                               id="registration-form-password_confirm" class="form-control"
                               placeholder="Подтверждение пароля">

                        <p class="help-block help-block-error">{{ error['password_confirm'] }}</p>
                    </div>

                    <div ng-show="registerButtonPressed" class="text-center">
                        <img src="/img/ajax-loader.gif">
                    </div>
                    <div ng-show="!registerButtonPressed" class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


