{% extends '::base.html.twig' %}
{% set page_header='Счета' %}

{%  block content %}

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i>Управление Счетами
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th width="50%">Название</th>
                            <th width="30%">Остаток на счете</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
                <!-- /.panel-body -->
            </div> <!-- panel -->
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i>Добавить счет
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form role="form" data-apiurl="{{ apiurl }}">
                        <div class="form-group">
                            <label for="newname">Название счета</label>
                            <input type="text" class="form-control"  id="newname"  placeholder="Название счета">
                        </div>
                        <div class="form-group">
                            <label for="newbalance">Остаток на счете</label>
                            <input type="number" class="form-control"  id="newbalance"  value="0" placeholder="Введите начальную сумму">
                        </div>

                        <div class="form-group">
                            <button id="newBillButton" class="btn btn-primary btn-block">Добавить счет</button>
                        </div>
                    </form>

                </div>
                <!-- /.panel-body -->
            </div> <!-- panel -->
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/bills.js') }}"></script>
{% endblock %}

