{% extends '::base.html.twig' %}
{% set page_header='Помощь' %}

{%  block content %}


    <div class="row">
        <div class="col-md-6">
            <p>
                Finansez - это приложение для учета личных финансов.
            </p>
        </div>
    </div>


{% endblock %}